<!DOCTYPE html>
<html>
<head>
   
</head>
<body>
   
    <div class="container body-content">
        @RenderBody()

    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>