
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Welcome to DashBoard</h1>
<h3 style="margin-left:70%"><a href="~/Login">Logout</a></h3>
<hr />
<ul>
    <li><a href="~/InsertProduct">Add Product</a></li>
    <li><a href="~/ShowList">Show All Product</a></li>
    
</ul>

